@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>
        Lets
        <a href="LetsChat">chat</a>
    </h1>
    <p class="lead">
        welcome to
    </p>
    @*<p>
        <a href="LetsChat"
           class="btn btn-primary btn-lg">LetsChat &raquo;</a>
    </p>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>*@